/************************************************
* Hero Section
************************************************/
.home-page-container {
  padding-left: 16px;
  padding-right: 16px;
}

.hero-section {
  margin-top: 48px;
}

.intro-heading {
  font-size: 52px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -2px;
  color: #163a34;
}

.intro-paragraph {
  margin-top: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

.hero-button {
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  background-color: #163a34;
  color: #fff;

  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #395852;
}

.hero-image-container {
  position: relative;
  margin-top: 40px;
}

.hero-image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 3.45px #ffffff;
}

.hero-squiggle {
  position: absolute;
  width: 100vw;
  left: -16px;
  right: 0px;
  bottom: 30%;
  z-index: -9;
}

/************************************************
* Benefits Section
************************************************/
.benefits-section {
  margin-top: 64px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefits-heading h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.benefits-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefits-image-container {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px 0px #e9ede8;
}

.benefits-details h3 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1px;
  color: #163a34;
}

.benefits-details p {
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

/************************************************
* Support Section
************************************************/
.support-section {
  margin-top: 64px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.support-section-content h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.support-paragraph-1,
.support-paragraph-2 {
  margin-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

.support-section-image {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  /************************************************
  * Hero Section
  ************************************************/
  .home-page-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .intro-heading {
    font-size: 64px;
  }

  .intro-paragraph {
    font-size: 20px;
  }

  .hero-image {
    height: 350px;
    object-fit: cover;
  }

  .hero-squiggle {
    left: -32px;
  }
  /************************************************
  * Benefits Section
  ************************************************/
  .benefits-section {
    margin-top: 80px;
    padding-bottom: 80px;
    gap: 48px;
  }

  .benefits-heading h2 {
    font-size: 48px;
  }

  .benefits-content {
    gap: 32px;
  }

  .benefits-details p {
    font-size: 20px;
  }

  /************************************************
  * Support Section
  ************************************************/
  .support-section {
    margin-top: 80px;
    gap: 40px;
  }

  .support-section-content h2 {
    font-size: 48px;
  }
}

@media (min-width: 1440px) {
  /************************************************
  * Hero Section
  ************************************************/

  .home-page-container {
    padding-left: 124px;
    padding-right: 124px;
  }

  .hero-section {
    text-align: center;
    margin-top: 80px;
  }

  .intro-heading {
    font-size: 72px;
  }

  .intro-paragraph {
    margin-top: 12px;
  }

  .hero-text-wrap {
    display: block;
  }

  .hero-button {
    margin-top: 40px;
  }

  .hero-image-container {
    margin-top: 80px;
  }

  .hero-image {
    height: auto;
    box-shadow: 0px 0px 0px 12px #ffffff;
  }

  .hero-squiggle {
    left: -124px;
  }

  /************************************************
  * Benefits Section
  ************************************************/
  .benefits-section {
    margin-top: 96px;
    padding-bottom: 96px;
  }

  .benefits-heading {
    text-align: center;
  }

  .benefits-heading h2 {
    font-size: 32px;
  }

  .benefits-content {
    flex-direction: row;
  }

  .benefits-details {
    flex: 1;
  }

  .benefits-details h3 {
    margin-top: 24px;
  }

  /************************************************
  * Support Section
  ************************************************/
  .support-section {
    flex-direction: row;
    gap: 48px;
    align-items: center;
  }

  .support-section-content,
  .support-section-image {
    flex: 1;
  }

  .support-section h2 {
    letter-spacing: -3px;
  }
}
