/************************************************
* Hero Section
************************************************/
.home-page-container {
  padding-left: 16px;
  padding-right: 16px;
}

.hero-section {
  margin-top: 48px;
}

.intro-heading {
  font-size: 52px;
  font-weight: 800;
  line-height: 110%;
  letter-spacing: -2px;
  color: #163a34;
}

.intro-paragraph {
  margin-top: 16px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

.hero-button {
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  background-color: #163a34;
  color: #fff;

  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #395852;
}

.hero-image-container {
  position: relative;
  margin-top: 40px;
}

.hero-image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 3.45px #ffffff;
}

.hero-squiggle {
  position: absolute;
  width: 106%;
  left: -16px;
  right: -16px;
  bottom: 30%;
  transform: rotate(0deg);
  z-index: -9;
}

/************************************************
* Benefits Section
************************************************/
.benefits-section {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.benefits-heading h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.benefits-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.benefits-image-container {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 0px 0px #e9ede8;
}

.benefits-details h3 {
  margin-top: 20px;
  font-size: 32px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1px;
  color: #163a34;
}

.benefits-details p {
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

/************************************************
* Support Section
************************************************/
.support-section {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.support-section-content h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.support-paragraph-1,
.support-paragraph-2 {
  margin-top: 20px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

.support-section-image {
  width: 100%;
  border-radius: 10px;
}
/************************************************
* Action Section
************************************************/
.action-section {
  margin-top: 64px;
  background-color: #e9ede8;
  border-radius: 16px;
  padding: 48px 16px;
  text-align: center;
}

.action-section h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.action-section p {
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
  padding: 0 16px;
}

.action-button {
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  background-color: #163a34;
  color: #fff;

  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.action-button:hover {
  background-color: #395852;
}
