/****************************
* Mission Section
****************************/
.about-page-container {
  padding-left: 16px;
  padding-right: 16px;
}

.about-page-intro {
  padding-top: 48px;
  padding-bottom: 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mission-heading {
  background-color: #fe9f6b;
  display: inline-block;
  padding: 2px 6px;
  border-radius: 6px;

  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
  color: #163a34;
}

.about-page-intro-text h1 {
  margin-top: 24px;
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.about-intro-p1,
.about-intro-p2 {
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

.about-intro-p1 {
  margin-top: 24px;
}

.about-intro-p2 {
  margin-top: 16px;
}

.about-page-intro-image-container {
  width: 100%;
  position: relative;
}

.about-hero-image {
  width: 100%;
  border-radius: 10px;
}

.about-squiggly-image {
  position: absolute;
  display: none;
  right: 0;
  bottom: 30%;
}

/****************************
* Exist Section
****************************/
.exist-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.exist-section h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.exist-bullets {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.exist-bullet-point {
  display: flex;
  align-items: start;
  gap: 20px;
}

.exist-article h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1px;
}

.exist-article p {
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

/****************************
* Philosophy Section
****************************/
.philosophy-section {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.philosophy-section h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.philosophy-bullets {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.philosophy-bullet-point {
  display: flex;
  align-items: start;
  gap: 20px;
}

.philosophy-article h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -1px;
}

.philosophy-article p {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}
/****************************
* Beyond Section
****************************/
.beyond-section {
  padding-top: 48px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.beyond-article h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.beyond-section p,
.beyond-article-list {
  font-family: "Nunito Sans", sans-serif;
  margin-top: 12px;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

.beyond-article-list {
  padding-left: 32px;
}

.beyond-image-container,
.beyond-image-container img {
  width: 100%;
  border-radius: 10px;
}

@media (min-width: 768px) {
  /****************************
  * Mission Section
  ****************************/
  .about-page-container {
    padding-left: 32px;
    padding-right: 32px;
  }

  .about-page-intro {
    padding-top: 64px;
    padding-bottom: 80px;
    gap: 64px;
  }

  .about-page-intro-text h1 {
    font-size: 48px;
  }

  .about-hero-image {
    border-radius: 24px;
  }

  /****************************
  * Exist Section
  ****************************/
  .exist-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .exist-section h2 {
    font-size: 48px;
  }

  .exist-bullets {
    gap: 32px;
  }

  /****************************
  * Philosophy Section
  ****************************/
  .philosophy-section {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .philosophy-section h2 {
    font-size: 48px;
  }

  .philosophy-bullets {
    gap: 32px;
  }

  /****************************
  * Beyond Section
  ****************************/
  .beyond-section {
    padding-top: 80px;
    padding-bottom: 0px;
    gap: 40px;
  }

  .beyond-article h2 {
    font-size: 48px;
  }

  .beyond-image-container,
  .beyond-image-container img {
    border-radius: 20px;
  }
}

@media (min-width: 1440px) {
}
