.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 32px 16px 20px 16px;
}

.socials-container {
  display: flex;
  gap: 24px;
}

.signature-text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #163a34;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 40px 32px;
  }
}

@media (min-width: 1440px) {
  .footer-container {
    padding: 40px 124px;
  }
}
