/************************************************
* Action Section
************************************************/
.action-section {
  background-color: #e9ede8;
  border-radius: 16px;
  padding: 48px 16px;
  text-align: center;
}

.fork-icon,
.knife-icon {
  display: none;
}

.action-section h2 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.action-section p {
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
  padding: 0 16px;
}

.action-button {
  margin-top: 32px;
  text-decoration: none;
  display: inline-block;
  padding: 16px 32px;
  border: none;
  border-radius: 10px;
  background-color: #163a34;
  color: #fff;

  font-family: "Nunito", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.action-button:hover {
  background-color: #395852;
}
@media (min-width: 768px) {
  .action-section {
    margin-top: 80px;
    padding-top: 80px;
    padding-bottom: 80px;
    position: relative;
  }

  .action-section h2 {
    font-size: 48px;
  }

  .action-button {
    margin-top: 40px;
  }

  .fork-icon,
  .knife-icon {
    display: block;
    position: absolute;
    width: 170px;
    height: auto;
  }

  .fork-icon {
    top: 50%;
    left: -6%;
  }

  .knife-icon {
    bottom: 68%;
    right: -2%;
  }
}

@media (min-width: 1440px) {
  .action-section {
    margin-top: 96px;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .fork-icon,
  .knife-icon {
    width: 300px;
  }

  .fork-icon {
    top: 10%;
    left: 0%;
  }

  .knife-icon {
    bottom: 10%;
    right: 0%;
  }
}
