/*****************************
* Explore Section
*****************************/
.recipe-page {
  padding-left: 16px;
  padding-right: 16px;
}

.recipe-page-heading {
  padding-top: 48px;
  padding-bottom: 48px;
}

.recipe-page-heading h1 {
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
  letter-spacing: -2px;
  color: #163a34;
}

.recipe-page-heading p {
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  color: #395852;
}

/*****************************
* Recipe Yield Section
*****************************/
.recipes-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.yield-selections-and-search-bar {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.prep-time-button,
.cook-time-button {
  border: 1px solid #e0e6e3;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  padding: 10px 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.3px;

  cursor: pointer;
}

.prep-time-button:hover,
.cook-time-button:hover {
  border: 1px solid #163a34;
}

.yield-selections {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.prep-time-container,
.cook-time-container {
  position: relative;
}

.prep-time-options-and-reset-button,
.cook-time-options-and-reset-button {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  padding: 8px;
  background-color: white;
  border: 1px solid #d0dcd9;
  border-radius: 8px;
  display: none;
  z-index: 999;
}

.yield-menu {
  display: block;
}

.prep-time-option,
.cook-time-option {
  display: flex;
  gap: 8px;
  padding: 8px;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.3px;
}

.prep-time-reset-button,
.cook-time-reset-button {
  border: none;
  background-color: transparent;
  width: 100%;
  text-align: left;
  padding: 2px 8px;
  font-family: "Nunito Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.3px;
  cursor: pointer;
}

/************************
* Search bar
************************/
.search-bar {
  width: 100%;
  position: relative;
}

.search-bar img {
  position: absolute;
  left: 18px;
  top: 14px;
}

.search-bar-input {
  width: 100%;
  border: 1px solid #e0e6e3;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  padding: 10px 16px;
  padding-left: 45px;

  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: -0.3px;
  color: #163a34;
}

/*****************************
* Recipe Container
*****************************/
.recipes-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}
